<!DOCTYPE html>
<html lang="ru">
<head>
    {{> meta}}
    {{> globaljs}}
    {{> homejs}}
    <link rel="stylesheet" href="/css/import/swiper-slider.min.css">
    <link rel="stylesheet" href="/css/style-home.min.css">
    <script src="/js/calculator.js"></script>
</head>
<body>

{{> header}}

<main>
    {{> about}}

    {{> instruments}}

    {{> prices}}

    {{> credits}}

    {{> engineers}}

    {{> contacts}}
</main>

{{> footer}}

</body>
</html>
