/* 
Tripoli Reset
http://devkick.com/lab/tripoli/
*/
@import "import/font/stylesheet.css";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1em;
  outline: none;
}

code, kbd, samp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext {
  font: inherit;
  font-size: 1em;
  white-space: normal;
}

dfn, i, cite, var, address, em {
  font-style: normal;
}

th, b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet, table {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td, center {
  text-align: left;
  vertical-align: top;
}

body {
  line-height: 1;
  background: white;
  color: black;
}

q {
  quotes: "" "";
}

ul, ol, dir, menu {
  list-style: none;
}

sub, sup {
  vertical-align: baseline;
}

a {
  color: inherit;
}

hr {
  display: none;
} /* we don't need a visual hr in layout */
/* disables some nasty font attributes in standard browsers */
font {
  color: inherit !important;
  font: inherit !important;
}

marquee {
  overflow: inherit !important;
  -moz-binding: none;
}

blink {
  text-decoration: none;
}

nobr {
  white-space: normal;
}

.authentication__form ul, .section__title {
  font-size: 24px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
  cursor: default;
}

.authentication__form li p, header, .contact-link__text {
  font-size: 16px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
  cursor: default;
}

.footer__content {
  font-size: 12px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
  cursor: default;
}

.authentication__form ul, .section__title {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}

.authentication__form ul, .section__title {
  font-size: 24px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
  cursor: default;
}

.authentication__form li p, header, .contact-link__text {
  font-size: 16px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
  cursor: default;
}

.footer__content {
  font-size: 12px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
  cursor: default;
}

.authentication__form ul, .section__title {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}

body {
  background: #0d0d0d;
}

.body__modal-open {
  overflow: hidden;
}

.section__title {
  max-width: 1200px;
  padding: 50px 36px;
  margin: 0 auto;
}
@media (min-width: 425px) {
  .section__title {
    font-size: 32px !important;
    font-weight: 600 !important;
  }
}
@media (min-width: 768px) {
  .section__title {
    font-size: 64px !important;
    padding: 100px 36px;
  }
}
.section__content, .footer__content, .authentication__content {
  max-width: 1200px;
  padding: 0 36px 50px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .section__content, .footer__content, .authentication__content {
    padding: 0 36px 100px;
  }
}

.contact-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact-link__icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.contact-link__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact-link__text {
  cursor: pointer !important;
}
@media (min-width: 425px) {
  .contact-link__text {
    font-size: 24px !important;
  }
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}
.loading-screen__spinner {
  width: 100px;
  height: 100px;
  border: 5px solid transparent;
  border-top: 5px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.authentication__form ul, .section__title {
  font-size: 24px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
  cursor: default;
}

.authentication__form li p, header, .contact-link__text {
  font-size: 16px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
  cursor: default;
}

.footer__content {
  font-size: 12px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
  cursor: default;
}

.authentication__form ul, .section__title {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.header__content {
  max-width: 1200px;
  padding: 0 36px 0;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  background-color: rgba(38, 38, 38, 0.1);
  backdrop-filter: blur(10px);
}
.header__navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.header__links {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin: 10px;
  position: fixed;
  top: 65px;
  left: -100%;
  border-radius: 15px;
  background-color: rgba(38, 38, 38, 0.1);
  backdrop-filter: blur(10px);
  transition: left 0.6s ease;
}
@media (min-width: 768px) {
  .header__links {
    position: static;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding: 20px;
    margin: 0;
    background-color: transparent;
    backdrop-filter: none;
  }
}
.header__links--open {
  left: 0;
}
.header__link {
  position: relative;
  font-size: 24px;
  transition: font-size 0.3s ease, background 0.3s ease, margin 0.3s ease;
}
.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background: linear-gradient(to right, #f2f2f2, transparent);
  transition: width 0.3s ease;
}
@media (min-width: 768px) {
  .header__link::after {
    background: #f2f2f2;
  }
}
@media (min-width: 768px) {
  .header__link {
    font-size: 16px;
    margin-right: 10px;
  }
}
.header__link--active {
  font-size: 32px;
  font-weight: 600;
  margin: 10px 0 10px 0;
}
.header__link--active::after {
  width: 100%;
}
@media (min-width: 768px) {
  .header__link--active {
    font-size: 18px;
    margin: 0 10px 0 0;
  }
}
.header__burger {
  display: flex;
  width: 25px;
  height: 20px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  justify-self: start;
}
@media (min-width: 768px) {
  .header__burger {
    display: none;
  }
}
.header__burger__line {
  width: 27px;
  height: 3px;
  background-color: #f2f2f2;
  transition: transform 0.3s, opacity 0.3s, width 0.3s;
}
.header__burger--active .header__burger__line:nth-child(1) {
  transform: translateY(8.5px) rotate(45deg);
}
.header__burger--active .header__burger__line:nth-child(2) {
  width: 0;
}
.header__burger--active .header__burger__line:nth-child(3) {
  transform: translateY(-8.5px) rotate(-45deg);
}
.header__logo {
  padding: 10px 0;
  justify-self: center;
}
.header__user-icon {
  justify-self: end;
}
.header__user-icon--logged {
  font-size: 12px !important;
  text-align: right;
}
@media (min-width: 768px) {
  .header__user-icon--logged {
    font-size: 16px !important;
  }
}

.authentication__form ul, .section__title {
  font-size: 24px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
  cursor: default;
}

.authentication__form li p, .contact-link__text, header {
  font-size: 16px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
  cursor: default;
}

.footer__content {
  font-size: 12px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
  cursor: default;
}

.authentication__form ul, .section__title {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}

.authentication__form ul, .section__title {
  font-size: 24px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
  cursor: default;
}

.authentication__form li p, .contact-link__text, header {
  font-size: 16px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
  cursor: default;
}

.footer__content {
  font-size: 12px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
  cursor: default;
}

.authentication__form ul, .section__title {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}

body {
  background: #0d0d0d;
}

.body__modal-open {
  overflow: hidden;
}

.section__title {
  max-width: 1200px;
  padding: 50px 36px;
  margin: 0 auto;
}
@media (min-width: 425px) {
  .section__title {
    font-size: 32px !important;
    font-weight: 600 !important;
  }
}
@media (min-width: 768px) {
  .section__title {
    font-size: 64px !important;
    padding: 100px 36px;
  }
}
.section__content, .footer__content, .authentication__content {
  max-width: 1200px;
  padding: 0 36px 50px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .section__content, .footer__content, .authentication__content {
    padding: 0 36px 100px;
  }
}

.contact-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact-link__icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.contact-link__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact-link__text {
  cursor: pointer !important;
}
@media (min-width: 425px) {
  .contact-link__text {
    font-size: 24px !important;
  }
}

.authentication {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("../../source/background/signin-singup.jpg") no-repeat center/cover;
}
.authentication__title {
  margin-top: 64.5px;
  font-size: 48px !important;
  font-weight: 600 !important;
}
@media (min-width: 768px) {
  .authentication__title {
    font-size: 64px !important;
  }
}
.authentication__content {
  padding: 0 25px 50px;
}
.authentication__form ul {
  border-radius: 30px;
  background: rgba(166, 166, 166, 0.1);
  backdrop-filter: blur(5px);
  padding: 25px;
}
.authentication__form li {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.authentication__form li a {
  text-decoration: underline;
}
.authentication__form li:last-child {
  margin-bottom: 0;
}
.authentication__form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #0d0d0d;
  background-color: #f2f2f2;
  margin-top: 10px;
  max-width: 200px;
}
@media (min-width: 425px) {
  .authentication__form input {
    max-width: 100%;
  }
}
.authentication button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  height: 40px;
  width: 100%;
  margin-top: 25px;
  border: none;
  border-radius: 30px;
  background: rgba(166, 166, 166, 0.1);
  backdrop-filter: blur(5px);
  transition: background 0.3s;
}
@media (min-width: 425px) {
  .authentication button {
    font-size: 24px !important;
    height: 60px;
  }
}
.authentication button:hover {
  background: rgba(38, 38, 38, 0.1);
}

.section__title, .authentication__form ul {
  font-size: 24px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
  cursor: default;
}

.contact-link__text, header, .authentication__form li p {
  font-size: 16px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
  cursor: default;
}

.footer__content {
  font-size: 12px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
  cursor: default;
}

.section__title, .authentication__form ul {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}

.section__title, .authentication__form ul {
  font-size: 24px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
  cursor: default;
}

.contact-link__text, header, .authentication__form li p {
  font-size: 16px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
  cursor: default;
}

.footer__content {
  font-size: 12px;
  font-family: Helvetica, serif;
  font-weight: 500;
  color: #f2f2f2;
  cursor: default;
}

.section__title, .authentication__form ul {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}

body {
  background: #0d0d0d;
}

.body__modal-open {
  overflow: hidden;
}

.section__title {
  max-width: 1200px;
  padding: 50px 36px;
  margin: 0 auto;
}
@media (min-width: 425px) {
  .section__title {
    font-size: 32px !important;
    font-weight: 600 !important;
  }
}
@media (min-width: 768px) {
  .section__title {
    font-size: 64px !important;
    padding: 100px 36px;
  }
}
.section__content, .footer__content, .authentication__content {
  max-width: 1200px;
  padding: 0 36px 50px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .section__content, .footer__content, .authentication__content {
    padding: 0 36px 100px;
  }
}

.contact-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact-link__icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.contact-link__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact-link__text {
  cursor: pointer !important;
}
@media (min-width: 425px) {
  .contact-link__text {
    font-size: 24px !important;
  }
}

footer {
  background: #f2f2f2;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  footer {
    height: 50px;
  }
}

.footer__content {
  padding-bottom: 0;
}
.footer__logo img {
  height: 20px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .footer__logo img {
    height: 40px;
  }
}

/*# sourceMappingURL=style-authentication.css.map */
