<section class="about" id="about">
    <div class="about__content">
        <div class="about__title">
            <h1 class="about__title-text">LOCAL STAR stu.</h1>
            <h3 class="about__title-location">14 лин В.О. д.9</h3>
        </div>

        <div class="about__main">
            <h2 class="about__main-title">LOCAL STAR stu.</h2>
            <p class="about__main-text">- это качественный, чистый звук, доступный каждому! Мы предоставляем широкий спектр услуг в области профессиональной звукозаписи, создания музыки и продюсирования проектов.</p>
            <div class="about__main-image-vertical">
                <img class="about__main-image" src="/source/image/about__vertical.jpg" alt="Вертикальное изображение в разделе 'О нас'" loading="lazy">
            </div>
            <div class="about__main-image-horizontal">
                <img class="about__main-image" src="/source/image/about__horizontal.jpg" alt="Горизонтальное изображение в разделе 'О нас'" loading="lazy">
            </div>
        </div>
    </div>
</section>
