<section class="instruments" id="instruments">
    <h2 class="section__title">СТУДИЙНОЕ ОБОРУДОВАНИЕ</h2>

    {{> slider containerClass="instruments__content" slides=instrumentsData.instruments}}
</section>
