<div class="rules modal-window" id="rules">
    <div class="modal-window__content">
        <div class="modal-window__head">
            <div class="modal-window__title">Rules</div>
            <span class="modal-window__close close" id="rulesCloseButton">&times;</span>
        </div>
        <ul class="rules__list">
            <li>1. Запись по номеру телефона 8-931-314-81-51 или в сообщениях группы. Запись считается действительной при внесении предоплаты в размере 50% от забронированного кол-ва часов работы на студии (не менее чем за 24 часа).</li>
            <li>2. По возможности лучше не приглашать, людей не имеющих отношение к записи, производительность и коэффициент полезного действия звукоинженера будет значительно выше. Да и в целом студия не резиновая.</li>
            <li>3. Приезжайте подготовленными. Если материал заранее проработан, часы записи проходят с большей пользой.</li>
            <li>4. В студии ведётся круглосуточное видеонаблюдение.</li>
            <li>5. И основное правило - чувствуйте себя как дома, но не забывайте что Вы в гостях. Еда и напитки не должны быть на рабочем месте. Чистота и порядок - залог хорошего настроения и продуктивной работы.</li>
        </ul>
    </div>
</div>