<section class="account__section" id="order-history">
    <div class="orders-container">
        <div class="orders-list" id="orders-list">
            <div class="empty-message">Загрузка истории заказов...</div>
        </div>
    </div>
</section>