<section class="authentication">
    <section class="section__title authentication__title">Создать аккаунт</section>

    <div class="authentication__content">
        <form class="authentication__form" id="signup">
            <ul>
                <li>
                    <label for="email">Почта:</label>
                    <input type="email" id="email" name="email" required>
                </li>
                <li>
                    <label for="password">Пароль:</label>
                    <input type="password" id="password" name="password" required>
                </li>
                <li>
                    <p>Уже есть аккаунт? <a href="/login">Войти</a> </p>
                </li>
            </ul>

            <button type="submit" class="authentication__button">Войти</button>
        </form>
    </div>
</section>