<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content='Cтудия звукозаписи "LOCAL STAR stu." - это качественный, чистый звук, доступный каждому. Мы предоставляем широкий спектр услуг в области профессиональной звукозаписи и создания музыки.'>
<meta name="keywords" content="студия звукозаписи в СПб записать трек песню звукозапись В.О. Васильевском острове local star stu">
<link rel="icon" href="/source/icon/favicon16x16.ico" type="image/x-icon">
<link rel="shortcut icon" href="/source/icon/favicon16x16.ico" type="image/x-icon">
<title>LOCAL STAR stu. - {{page}}</title>